body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.personal-data, .login-data {
    width: 48%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #003f7f;
}
